.form-conatiner{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    select{
        width: 200px;
        margin-top: 40px;
    }
}

.select-address{
    background:#0F2C64 ;
    padding:14px 40px; 
      color:white;
      border-radius :10px;
      cursor: pointer;
}
.nonselect-address{
    border: 1px solid #1D1D1D;
    padding:14px 40px; 
      border-radius :10px;
      cursor: pointer;
}